:root {
    --base-font-color: rgb(131, 148, 150);
    --secondary-font-color: rgb(88, 110, 117);
    --emphasised-font: rgb(147, 161, 161);
  
    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);
  
    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
  }
  
  body {
    background-color: var(--c-background-color);
    color: var(--base-font-color);
  }
  
  header, footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
  }
  
  main {
    color: var(--base-font-color);
  }
  
  article a {
    color: var(--c-magenta);
  }
  
  article a:hover {
    color: var(--c-orange);
  }
  
